<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/sharineuser/css/bootstrap.css') }}">
    <!-- CSS rules for styling the block tags such as p, h1, h2, etc. -->
    <link href="{{ asset('bundles/sharineuser/css/froala_style.min.css')}}" rel="stylesheet" type="text/css" /><link rel="stylesheet" href="{{ asset('bundles/sharineuser/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sharineuser/css/bootstrap_main.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sharineuser/css/main.css') }}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!-- CSS rules for styling the block tags such as p, h1, h2, etc. -->
    <link   href="{{ asset( "bundles/kmsfroalaeditor/css/froala_style.min.css" ) }}"
            rel="stylesheet" type="text/css" />
    {#<link rel="icon" type="image/ico" href="{{ asset('bundles/sharineuser/img/icone.ico') }}">#}
    <link rel="icon" type="image/jpg" href="{{ asset('bundles/sharineuser/img/icone.jpg') }}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{#<script type="text/javascript" src="{{ asset('bundles/sharineuser/js/bootstrap.js')}}"></script>#}
<script type="text/javascript" src="{{ asset('bundles/sharineuser/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sharineuser/js/bootbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sharineuser/js/modal.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sharineuser/js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/sharinearticle/ckeditor/ckeditor.js') }}"></script>
{% include 'nav_top.html.twig' %}

{#<div id="mainn" class="container">#}
{#<div class="jumbotron">#}
{% block section %}

{% endblock %}

{% block login %}

{% endblock %}

{% include 'nav_bottom.html.twig' %}
</body>
</html>